.intro {
  width: 500px;
  font-size: 60px;
}
.service {
  font-size: 60px;
  margin-top: 50px;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
  font-size: 20px !important;
  width: 150px !important;
}
